/* Glabal */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

*:focus{
  outline: 2px dotted #DE2E54;
  outline-offset: 2px;
}

html{
  scroll-behavior: smooth;

}

/* Container */
.container{
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1160px;
  background-color: #fff;
}

/* SITE HEADER */
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222;
}

/* .site logo */
.site-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-style: 24px;
  font-weight: 600;
}

.site-logo-site-footer{
  color: #fff;
}
.site-logo-site-footer:active{
  color: #fff;
}

.site-header-logo-text{
  font-style: 24px;
  font-weight: 600;
}
.site-header-logo-text:hover{
  color: #DE2E54;
}
.site-header-logo-text:active{
  opacity: 0.6;
}

.site-footer-logo-text{
  color: #fff;
}
.site-footer-logo-text:hover{
  color: #DE2E54;
}
.site-footer-logo-text:active{
  color: #fff;
}

.site-logo-img{
  margin-right: 16px;
  border-radius: 50%;
}


/* sitenav */
.sitenav{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.sitenav-list{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 32px;
}

.sitenav-link{
  text-decoration: none;
  display: block;
  color: #222;
}
.sitenav-link:hover{
  color: #DE2E54;
}
.sitenav-link:active{
  opacity: 0.6;
}

.sitenav-site-footer .sitenav-link{
  color: #fff;
}
.sitenav-site-footer .sitenav-link:hover{
  color: #DE2E54;
}
.sitenav-site-footer .sitenav-link:active{
  color: #fff;
  opacity: 0.6;
}

.main-link{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #DE2E54;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: 8px;
  padding: 10px 22px;
  font-family: "Open Sans Condensed" Arial, sans-serif;
  border: 2px #DE2E54;
  font-size: 15px;
  display: inline-block;
}
.main-link:hover{
  border-color: #DE2E54;
  background-color: #fff;
  color: #DE2E54;
}
.main-link:active{
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}

.main-link-solid:hover{
  border-color: transparent;
  background-color: rgba(222, 46, 84, 0.8);
  color: #fff;
}
.main-link-solid:active{
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

.main-link-outline{
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.main-link-outline:hover{
  border: 1px solid transparent #fff;
  background-color: #DE2E54;
  color: #fff;
}


/* HERO */
.hero{
  background-color: rgba(14, 180, 193, 1);
  color: #fff;
}

.hero-container{
  display: flex;
  justify-content: space-between;
  background-color: rgba(14, 180, 193, 1);

}

.hero-content{
  padding-top: 120px;
  padding-bottom: 120px;
  width: 500px;
}
.hero-heading{
  margin-top: 0;
  font-family: "Open Sans Condensed" "Open Sans" sans-serif;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
}

.hero-text{
  width: 440px;
  margin-top: 0;
  margin-bottom: 36px;
  color: #fff;
}

.hero-img{
  align-self: flex-end;
}


/* INDEX-SERVICES */
.index-services{
  padding-top: 120px;
  padding-bottom: 120px;
}

.index-services-heading{
  font-family: "Open Sans Comdansed", "Open Sans" "Arial" sans-serif;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  color: #000;
  margin-bottom: 56px;
}

.index-servicesl-list{
  padding: 0;
  margin-bottom: 60px;
  margin: 0;
  list-style: none;
  width: 864px;
  margin-left: auto;
  margin-right: auto;
}

.index-service-item:not(:last-child){
  margin-bottom: 80px;
}

.index-service{
  display: flex;
  align-items: center;
}

.index-service-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
  background-repeat: 24px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  object-fit: cover;
}

.index-service-content{
  width: 600px;
}

.index-service-title{
  margin-top: 0;
  margin-bottom: 24px;
  color: #222;
}

.index-service-description{
  margin: 0;
}

.index-services-actions{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


/* CTA */
.cta{
  padding-top: 64px;
  padding-bottom: 64px;
  background: rgba(14, 180, 193, 1);
  color: #fff;
}

.cta-container{
  background-color: rgba(14, 180, 193, 1);
}

.cta-heading{
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.2;
  font-family: "Open Sans Condensed" "Open Sans" sans-serif;
  text-align: center;
  color: #fff;
}

.cta-links{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-links-item:not(:last-child){
  margin-right: 40px;
}

/* SITE-FOOTER */
.site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  color: #fff;
}

.site-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  /* background-color: #222; */
}