/* Glabal */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

*:focus{
  outline: 2px dotted #DE2E54;
  outline-offset: 2px;
}

/* Container */
.container{
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1160px;
  background-color: #fff;
}

/* SITE HEADER */
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222;
}

/* .site logo */
.site-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-style: 24px;
  font-weight: 600;
}

.site-header-logo-text{
  font-style: 24px;
  font-weight: 600;
}
.site-header-logo-text:hover{
  color: #DE2E54;
}
.site-header-logo-text:active{
  opacity: 0.6;
}
.site-logo-img{
  margin-right: 16px;
}


/* sitenav */
.sitenav{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.sitenav-list{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 32px;
}

.sitenav-link{
  text-decoration: none;
  display: block;
  color: #222;
}
.sitenav-link:hover{
  color: #DE2E54;
}
.sitenav-link:active{
  opacity: 0.6;
}

.main-link{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #DE2E54;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: 8px;
  padding: 10px 22px;
  font-family: "Open Sans Condensed" Arial, sans-serif;
  border: 2px #DE2E54;
  font-size: 15px;
  display: inline-block;
}
.main-link:hover{
  border-color: #DE2E54;
  background-color: #fff;
  color: #DE2E54;
}
.main-link:active{
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}